.image img {
    height: 300px!important;
    padding: 10px;
    background-color: #fff;
}

.ui.fixed.menu {
    padding: 15px;
}

.ui.grid.container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ui.placeholder.segment {
    margin-bottom: 20px;
}